body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #2f4f4f;
  background: #f4f5ff;
  padding: 0 10px;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
    width: 100%;
}