:root {
  --neutral-100 : #ffffff ;
  --neutral-200 : #eeeeee ;
  --neutral-400 : #cccccc ;
  --neutral-600 : #333333 ;
  --neutral-700 : #222222 ;
  --neutral-750 : #1a1a1a ;
  --neutral-800 : #111111 ;
  --neutral-900 : #000000 ;

  --sizing-100  :   1px ;
  --sizing-200  :   2px ;
  --sizing-300  :   4px ;
  --sizing-400  :   8px ;
  --sizing-500  :  16px ;
  --sizing-600  :  32px ;
  --sizing-700  :  64px ;
  --sizing-800  : 128px ;
  --sizing-900  : 265px ;
}

* {
  margin  : 0 ;
  padding : 0 ;
}

body {
  background : var( --neutral-700 ) ;
  color      : var( --neutral-400 ) ;
  margin     : 0 auto               ;
  max-width  : 80ch                 ;
}

h1 {
  font-size : 3rem;
}

input {
  background : var( --neutral-700 ) ;
  border     : none                 ;
  color      : var( --neutral-400 ) ;
  font-size  : 1rem                 ;
  padding    : var( --sizing-400 )  ;
}

input:hover {
  background : var( --neutral-750 ) ;
  color      : var( --neutral-200 ) ;
}

input:focus {
  background : var( --neutral-800 ) ;
  outline    : none                 ;
}

button {
  background     : var( --neutral-700 )      ;
  border         : none                      ;
  color          : var( --neutral-400 )      ;
  cursor         : pointer                   ;
  font-weight    : bold                      ;
  padding        : 0 0 0 var( --sizing-500 ) ;
  text-transform : uppercase                 ;
}

button:hover {
  color : var( --neutral-200 ) ;
}

.sort-container {
  display         : flex                ;
  gap             : var( --sizing-400 ) ;
  justify-content : flex-end            ;
}

.todo-item, .input-container {
  background            : var( --neutral-700 )                           ;
  border-top            : var( --sizing-100 ) solid var( --neutral-600 ) ;
  color                 : var( --neutral-400 )                           ;
  display               : grid                                           ;
  gap                   : var( --sizing-400 )                            ;
  grid-template-columns : var( --sizing-600 ) auto var( --sizing-600 )   ;
  padding               : var( --sizing-400 ) 0                          ;
}

.date {
  margin      : 0 var( --sizing-400 ) ;
  user-select : none  ;
}

.content-container {
  display        : flex   ;
  flex-direction : column ;
}

.done, .done input {
  text-decoration-line : line-through ;
}

.sorted, .sorted-reverse {
  background-repeat   : no-repeat ;
  background-size     : var( --sizing-500 ) var( --sizing-500 ) ;
}

.check, .uncheck, .remove, .pluss {
  background-position : center                ;
  background-repeat   : no-repeat             ;
  background-size     : contain               ;
  cursor              : pointer               ;
  height              : var( --sizing-600 )   ;
  margin              : var( --sizing-300 ) 0 ;
  width               : var( --sizing-600 )   ;
}

.check:hover, .uncheck:hover, .remove:hover, .pluss:hover {
  filter : brightness( 150% ) ;
}

.check   { background-image : url( "icons/circle-check-solid.svg" ) ; }
.pluss   { background-image : url( "icons/plus-solid.svg" )         ; }
.remove  { background-image : url( "icons/xmark-solid.svg" )        ; }
.sorted          { background-image : url("icons/chevron-down.svg") ; }
.sorted-reverse  { background-image : url("icons/chevron-up.svg")   ; }
.uncheck { background-image : url( "icons/circle-regular.svg" )     ; }
