:root {
  --neutral-200 : #eeeeee ;
  --neutral-400 : #cccccc ;
  --neutral-600 : #333333 ;
  --neutral-700 : #222222 ;
  --neutral-750 : #1a1a1a ;
  --neutral-800 : #111111 ;
}

* {
  margin  : 0 ;
  padding : 0 ;
}

body {
  background : var( --neutral-700 ) ;
  color      : var( --neutral-400 ) ;
  margin     : 0 auto               ;
  max-width  : 80ch                 ;
}

h1 {
  font-size : 3rem;
}

input {
  background : var( --neutral-700 ) ;
  border     : none                 ;
  color      : var( --neutral-400 ) ;
  font-size  : 1rem                 ;
  padding    : 8px                  ;
}

input:hover {
  background : var( --neutral-750 ) ;
  color      : var( --neutral-200 ) ;
}

input:focus {
  background : var( --neutral-800 ) ;
  outline    : none                 ;
}

button {
  background     : var( --neutral-700 ) ;
  border         : none                 ;
  color          : var( --neutral-400 ) ;
  cursor         : pointer              ;
  font-weight    : bold                 ;
  padding        : 0 0 0 16px           ;
  text-transform : uppercase            ;
}

button:hover {
  color : var( --neutral-200 ) ;
}

.sort-container {
  display         : flex     ;
  gap             : 8px      ;
  justify-content : flex-end ;
}

.todo-item, .input-container {
  background            : var( --neutral-700 )           ;
  border-top            : 1px solid var( --neutral-600 ) ;
  color                 : var( --neutral-400 )           ;
  display               : grid                           ;
  gap                   : 8px                            ;
  grid-template-columns : 24px auto 24px                 ;
  padding               : 8px 0                          ;
}

.date {
  margin      : 0 8px ;
  user-select : none  ;
}

.content-container {
  display        : flex   ;
  flex-direction : column ;
}

.done, .done input {
  text-decoration-line : line-through ;
}

.sorted, .sorted-reverse {
  background-repeat   : no-repeat ;
  background-size     : 16px 16px ;
}

.check, .uncheck, .remove, .pluss {
  background-position : center    ;
  background-repeat   : no-repeat ;
  background-size     : contain   ;
  cursor              : pointer   ;
  height              : 24px      ;
  margin              : 6px 0     ;
  width               : 24px      ;
}

.check:hover, .uncheck:hover, .remove:hover, .pluss:hover {
  filter : brightness( 150% ) ;
}

.check   { background-image : url( "icons/circle-check-solid.svg" ) ; }
.pluss   { background-image : url( "icons/plus-solid.svg" )         ; }
.remove  { background-image : url( "icons/xmark-solid.svg" )        ; }
.sorted          { background-image : url("icons/chevron-down.svg") ; }
.sorted-reverse  { background-image : url("icons/chevron-up.svg")   ; }
.uncheck { background-image : url( "icons/circle-regular.svg" )     ; }
