* {
  margin: 0;
  padding: 0;
}

body {
  background : #333;
}

h1 {
  text-align: center;
  color: #ccc;
}

input[type="text"]{
  display: block;
  width: 20em;
  height: 2em;
  margin: 1em auto;
  padding: 0 0.5em;
  font-size: 2em;
}

li {
  background: #ccc;
  color: #333;
  display: flex;
  gap: 1em;
  list-style-type: none;
  margin: 0.5em;
  padding: 1em;
}

.done {
  background: #555;
  color: #888;
  text-decoration-line: line-through;
}
