/******************************************************************************
*  Text                                                                       *
******************************************************************************/

body {
  font-family      : Georgia, Times, 'Times New Roman', serif ;
}

table {
  font-size        : 13px                                     ;
  text-align       : center                                   ;
}

caption {
  font-size        : 25px                                     ;
  font-weight      : bold                                     ;
}

th[rowspan] {
  font-size        : 18px                                     ;
  text-orientation : upright                                  ;
  writing-mode     : vertical-lr                              ;
}


/******************************************************************************
*  Margin                                                                     *
******************************************************************************/
body {
  margin        : 20px auto ;
}

main {
  margin-bottom : 25px      ;
}


/******************************************************************************
*  Padding                                                                    *
******************************************************************************/
main {
  padding : 0 42px 55px 33px ;
}

caption {
  padding : 9px 0 16px 0     ;
}

td, th {
  padding : 6px              ;
}

th[rowspan] {
  padding : 0 25px           ;
}


/******************************************************************************
*  Width and height                                                           *
******************************************************************************/

body {
  max-width      : 800px  ;
}

table {
  height         : 296px  ;
  table-layout   : fixed  ;
  width          : 721px  ;
}

tr:first-child th:first-child {
  height         : 10px   ;
  vertical-align : bottom ;
}


/******************************************************************************
*  Border                                                                     *
******************************************************************************/
body {
  border-top      : 1px solid #545454               ;
}

main {
  border          : 2px solid #b2b2b2               ;
}

table {
  border-collapse : collapse                        ;
  border-color    : #777777 #2b2b2b #2b2b2b #777777 ;
  border-style    : solid                           ;
  border-width    : 5px                             ;
}

td, th {
  border          : 2px #828282 solid               ;
}


/******************************************************************************
*  Layout and alignment                                                       *
******************************************************************************/
table {
  table-layout   : fixed  ;
}

tr:first-child th:first-child {
  vertical-align : bottom ;
}


/******************************************************************************
*  Visual effects                                                             *
*  Adds a blur filter to make it look even more like a picture. It            *
*  dissapears on hover and also adds a highlight on the hovered cell.         *
******************************************************************************/
main {
  filter     : blur(0.8px) ;
}

main:hover {
  filter     : none        ;
}

td:hover, th:hover {
  background : #dddddd     ;
}


/******************************************************************************
*  Adds a roman numeral counter to the appropriate period headers, except     *
*  for the first and fifth(lunch) columns.                                    *
*  \a adds a new-line character and "whitespace: pre;" makes sure it counts.  *
******************************************************************************/
body {
  counter-reset     : period-counter                            ;
}

tr:first-child
th:not(:first-child):not(:nth-child(5)):before {
  content           : counter(period-counter, upper-roman) '\a' ;
  counter-increment : period-counter                            ;
  white-space       : pre                                       ;
}
